[Unit]
Description=X-PORT DJI
After=syslog.target
[Service]
Type=simple
ExecStart=/xport/apptest-camera/apptest
WorkingDirectory=/xport/apptest-camera/
PIDFile=/run/service.pid
OOMScoreAdjust=-900
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=10


Environment="RANGE_FILE_PATH=/xport/camdata/range.set"
Environment="INTERVAL_FILE_PATH=/xport/camdata/interval.set"
Environment="SCALE_FILE_PATH=/xport/camdata/scale.set"
Environment="GAIN_FILE_PATH=/xport/camdata/gain.set"
Environment="BAUD_FILE_PATH=/xport/camdata/baud.set"
Environment="SET_ISO_FILE_PATH=/xport/camdata/iso.set"
Environment="SET_APERTURE_FILE_PATH=/xport/camdata/aperture.set"
Environment="SET_SHUTTER_FILE_PATH=/xport/camdata/shutter.set"
Environment="SET_PM_FILE_PATH=/xport/camdata/pm.set"

Environment="INFO_TMP_FILE_PATH=/xport/camdata/tmp.nfo"
Environment="INFO_ISO_PATH=/xport/camdata/iso.nfo"
Environment="INFO_APERTURE_PATH=/xport/camdata/aperture.nfo"
Environment="INFO_SHUTTER_PATH=/xport/camdata/shutter.nfo"
Environment="INFO_PM_PATH=/xport/camdata/pm.nfo"

Environment="LIST_ISO_FILE_PATH=/xport/camdata/iso.list"
Environment="LIST_APERTURE_FILE_PATH=/xport/camdata/aperture.list"
Environment="LIST_SHUTTER_FILE_PATH=/xport/camdata/shutter.list"
Environment="LIST_PM_FILE_PATH=/xport/camdata/pm.list"

Environment="TAKE_FILE_PATH=/xport/camdata/take"
Environment="FOCUS_FILE_PATH=/xport/camdata/focus"
Environment="PHOTO_FILE_PATH=/xport/camdata/cap.jpg"

Environment="APPTEST_CAMERA_PHOTO_FILE_PATH=/xport/apptest-camera/cam.jpg"
Environment="APPTEST_CAMERA_WIDGET_FILE_PATH=/xport/apptest-camera/widget"
Environment="INFO_STATUS_FILE_PATH=/xport/camdata/status.txt"

Environment="LIC_FILE_PATH=/xport/camdata/lic.txt"


[Install]
WantedBy=multi-user.target
